<!DOCTYPE html>
<html>
<head>
    <title>Détails de l'auteur</title>
</head>
<body>
    <h1>Détails de l'auteur</h1>
    
    <img src="{{ authorDetails.picture }}" alt="{{ authorDetails.username }}">
    <p>Nom de l'auteur : {{ authorDetails.username }}</p>
    <p>Email : {{ authorDetails.email }}</p>
    <p>Nombre de livres : {{ authorDetails.nb_books }}</p>
    

</body>
</html>